
@{
    var controller = ViewContext.HttpContext.Request.RouteValues["controller"].ToString();
    var action = ViewContext.HttpContext.Request.RouteValues["action"].ToString();
}


<!-- Main sidebar -->
<div class="sidebar sidebar-light sidebar-main sidebar-expand-md align-self-start">

    <!-- Sidebar mobile toggler -->
    <div class="sidebar-mobile-toggler text-center">
        <a href="#" class="sidebar-mobile-main-toggle">
            <i class="icon-arrow-left8"></i>
        </a>
        <span class="font-weight-semibold">Main sidebar</span>
        <a href="#" class="sidebar-mobile-expand">
            <i class="icon-screen-full"></i>
            <i class="icon-screen-normal"></i>
        </a>
    </div>
    <!-- /sidebar mobile toggler -->
    <!-- Sidebar content -->
    <div class="sidebar-content">
        <div class="card card-sidebar-mobile">
            <!-- Main navigation -->
            <div class="card-body p-0">
                <ul class="nav nav-sidebar" data-nav-type="accordion">

                    <!-- Main -->
                    <li class="nav-item-header mt-0"><div class="text-uppercase font-size-xs line-height-xs">Menü</div> <i class="icon-menu" title="Menü"></i></li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","HomeM")" class="nav-link @(controller=="HomeM"? "active":"")">
                            <i class="icon-home4"></i>
                            <span>
                                Genel
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","ServicesM")" class="nav-link  @(controller=="ServicesM"? "active":"")">
                            <i class="icon-bookmark4"></i>
                            <span>
                                Hizmetlerimiz
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","WorkM")" class="nav-link  @(controller=="WorkM"? "active":"")">
                            <i class="icon-bookmark4"></i>
                            <span>
                                Çalışmalarımız
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","CatalogM")" class="nav-link  @(controller=="CatalogM"? "active":"")">
                            <i class="icon-newspaper"></i>
                            <span>
                                Kataloglar
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","AboutM")" class="nav-link @(controller=="AboutM"? "active":"")">
                            <i class="icon-info3"></i>
                            <span>
                                Hakkımızda
                            </span>
                        </a>
                    </li>



                    <li class="nav-item">
                        <a href="@Url.Action("Index","FeedBackM")" class="nav-link  @(controller=="FeedBackM"? "active":"")">
                            <i class="icon-quill4"></i>
                            <span>
                                Geri Bildirimler
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /main navigation -->

        </div>
    </div>
    <!-- /sidebar content -->

</div>
<!-- /main sidebar -->
