@model GetServiceResponse
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title parallax parallax1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title"><span>@Model.Item.Title</span></h1>
                </div><!-- /.page-title-captions -->
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
                        <li><a href="@Url.Action("Index","Services")">Hizmetlerimiz</a></li>
                        <li> @Model.Item.Title </li>
                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->
<!-- Portfolio detail -->




<section class="flat-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="flat-portfolio grid-3columns simple style-4">
                    <div class="portfolio-wrap clearfix">

                        @foreach (var item in Model.Item.Images.OrderBy(x => x.OrderNo).ToList())
                        {
                            <div class="item builder painting">
                                <div class="featured-images">
                                    <img src="@item.Url" alt="images">
                                    <div class="overlay">
                                        <ul class="portfolio-details widht-100 top-50">
                                            <li>
                                                <a class="popup-gallery" href="@item.Url">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!-- /.featured-images -->
                        </div>

                            <!-- /.portfolio-item -->
                        }


                    </div><!-- /.portfolio-wrap -->
                </div><!-- /.flat-portfolio -->
            </div>
        </div>
    </div>
</section>


@*
 
<section class="flat-row">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="featured-post flat-blog-slider">
                    <div class="flexslider">
                        <ul class="slides">

                            @foreach (var item in Model.Item.Images.OrderBy(x => x.OrderNo).ToList())
                            {
                                <li>
                                    <img src="@item.Url" alt="images">
                                </li>
                            }

                        </ul>
                    </div>
                </div><!-- /.feature-post -->
            </div>

            <div class="col-md-4">
                <div class="work-detail-content">
                    <div class="flat-work-detail">
                        <div class="project-content">
                            <div class="title-single-portfolio">@Model.Item.Title</div>
                            <p>@Model.Item.Description</p>

                            <ul class="project-share">
                                <li>Share: </li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
*@