@using Cakmak.Yapi.Presentation.Response.ServicesResponse
@model BaseResponse<LoadServicesResponse>

@{
    ViewData["Title"] = "Index";
}

<!-- Page title -->
<div class="page-title parallax parallax3">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title"> <span>Hizmetlerimiz</span></h1>
                </div><!-- /.page-title-captions -->
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
                        <li> Hizmetlerimiz </li>
                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->
<!-- serives -->
<section class="flat-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section text-center">
                    <h1 class="title">Hizmetlerimiz</h1>
                </div>
                <div class="flat-spacer height30"></div>
            </div><!-- /.col-md-12 -->

        </div>
        @{

            var avarage = (Convert.ToDouble(Model.Data.TotalCount) / 3);
            var rowCount = Math.Ceiling(avarage);
            int take = 3;
            int skip = 0;
            var showFlag = true;

            @for (var i = 1; i <= rowCount; i++)
            {
                <div class="row">
                    <div class="col-md-12">
                        @foreach (var item in Model.Data.Items.Skip(skip).Take(take))
                        {
                            <div class="images-box @(showFlag ? "show" : "")  clear-fix ">
                                <div>
                                    <img src="@item.HeadImageUrl" alt="serives">
                                </div>
                                <div class="box-content">
                                    <div class="box-title">
                                        <a href="#">@item.Title</a>
                                    </div>
                                    @item.Description
                                    <a href="@Url.Action("Detail","Services",new {id = item.Slug})" class="box-redmore">Detaya Git</a>
                                </div>
                            </div>
                            showFlag = false;
                        }
                    </div><!-- /.col-md-12 -->
            </div>

                skip = (take * i);
            }
        }






    </div><!-- /.container -->
</section>


