@using Cakmak.Yapi.Presentation.Response.ServicesResponse
@model BaseResponse<LoadServicesResponse>

@{
    ViewData["Title"] = "Index";
}

<!-- Page title -->
<div class="page-title parallax parallax3">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title"> <span>Hizmetlerimiz</span></h1>
                </div><!-- /.page-title-captions -->
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
                        <li> Hizmetlerimiz </li>
                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->
<!-- serives -->
 <section class="flat-row">  
            <div class="container">                
                <div class="row">
                    <div class="col-md-12">
                        <div class="flat-portfolio grid-3columns simple style-4">             
                            <div class="portfolio-wrap clearfix">

                                 @foreach (var item in Model.Data.Items)
                               {
                                    <div class="item builder painting">                                
                                    <div class="featured-images">
                                        <img src="@item.HeadImageUrl" alt="images">
                                        <h3 class="project-title top-40">@item.Title</h3>
                                        <p class="project-title top-45">@item.Description</p>
                                        <div class="overlay">  
                                            <ul class="portfolio-details widht-100 top-50" >
                                                <li><a class="popup-gallery" href="@item.HeadImageUrl">
                                                    <i class="fa fa-search"></i></a>
                                                </li>
                                                <li><a href="@Url.Action("Detail","Services",new {id=item.Slug})"><i class="fa fa-external-link"></i></a></li>
                                            </ul>                      
                                        </div>                       
                                    </div><!-- /.featured-images -->                                              
                                </div><!-- /.portfolio-item -->
                               }
                                
                            </div><!-- /.portfolio-wrap --> 
                        </div><!-- /.flat-portfolio --> 
                    </div>
                </div>
            </div> 
        </section> 


